.header{
  position: absolute;
  min-width: 100%;
  // position: fixed;
  z-index: 100;
}
.nav-link{
  font-family: 'Roboto';
  font-size: 18px;
  color: white;

  &:active{
    color: white;
  }
  &:hover{
    color: #02cfe7;
  }
  &:focus{
    color: #02cfe7;
  }

}
.main-block{
  background-image: url("../images/hero5.jpg");
  width: 100%;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .header-text{
    margin-top: -180px;
    text-align: center;
    h2{
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 42px;
      line-height: 56px;
      color: white;
      color: #02cfe7;
    }
    h4{
      font-family: 'Roboto';
      font-size: 24px;
      line-height: 28px;
      color: #02cfe7;
      color: white;

    }
  }
}
